/* Reset */
html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

/*****/

html, body, #map {
    height: 100%;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #eb2428;
}

h1 > a {
    text-decoration: none;
    float: left;
    color: #fff
}

.sidebar-tabs figure {
    position: absolute;
    top: -12px;
    left: -36px;
}
.sidebar-tabs img {
    width: 32px;
}

/* li a:active,
li a:hover {
    background-color: #00d4aa;
    color: #fff;
}

li a:focus {
    background-color: #00aa88;
    color: #fff;
} */

/*******************
Map
*******************/
html, .map-layout {
    height: 100%;
}
.map-layout > #content {
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}
.map-layout > #content > #map {
    height: 100%;
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: rgba(225,225,225,.8);
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
}
.leaflet-container a {
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    color: #0a70ff;
}
